.footer {
    background-color: #080a0b;
    &--container {
        position: relative;
        z-index: 9;
    }

    &--top {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        @include media($media-3) {
            padding: 30px 10px;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    &--logo {
        width: 90px;
        @include media($media-3) {
            width: 50px;
        }
    }

    &--links {
        display: flex;
        gap: 86px;
        @include media($media-1) {
            gap: 40px;
        }
        @include media($media-2) {
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &--nav {
        align-items: flex-end;

        padding-bottom: 10px;
        @include media($media-2) {
            padding: 0;
        }
        @include media($media-3) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &--socials {
        display: flex;
        gap: 40px;
        align-items: flex-end;
        padding-bottom: 7px;
        @include media($media-2) {
            padding: 0;
        }
        @include media($media-3) {
            align-self: center;
        }
        @include media($media-4) {
            align-self: stretch;
            justify-content: space-between;
        }

        .icon {
            &-facebook:hover::before {
                color: #3b5998;
            }

            &-twitter:hover::before {
                color: #1faee9;
            }

            &-youtube:hover::before {
                color: #c4302b;
            }

            &-twitch:hover::before {
                color: #6441a5;
            }
        }
    }

    &--icon {
        &::before {
            transition: all 250ms;
            font-size: 20px;
        }
    }

    &--bottom {
        padding: 22px 0 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media($media-3) {
            flex-direction: column;
            gap: 40px;
        }
    }

    &--copy {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
    }

    &--others {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        @include media($media-4) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &--other {
        color: #fff;
        cursor: pointer;
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
        &:hover::after {
            width: 100%;
            left: 0;
        }
        &:nth-child(2) {
            position: relative;
            &::before {
                content: "| ";
            }
            &::after {
                content: " |";
            }
        }
    }
}
